body {
  text-align: center;
}

.Container {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 50px auto;
  border: 1px dashed gray;
  padding: 20px;
  width: 350px;
}

.photo {
  border: 2px solid black;
  border-radius: 50%;
}

.show-btn {
  color: aliceblue;
  background-color: rgb(105, 143, 105);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 0 0;
}

.show-btn:hover {
  background-color: rgb(69, 99, 69);
  cursor: pointer;
}

.show-btn:active {
  transform: translateY(2px);
}